# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# dependencies (monorepos)
**/node_modules/

# next.js
/.next/
/out/

# next.js (monorepos)
**/.next/
**/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (ignore secrets, keep templates)
.env*
!.env.template

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts